.campsites-index-div{
    display: flex;
    width: 100%;
    height: 100%;

}
.campsites-index{
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid black;

}
.campsite-item{
    display: flex;
    border: 1px solid green;
    width: 200px;
    height: 200px;

}
