.link{
  text-decoration: none;
  color:black;
}
.main-body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
    // padding-left: 160px;
    // padding-top: 15px;
    // border: 1px solid blue;
    height: 200%;
    width: 100%;
    justify-content: center;
    
    .search-bar{
        display: block;
        position: relative;
        // border: 1px solid green;
        align-self: center;
    }
    .content-above{
        .intro{
            display: block;
            color:#392f41;
        }
    
        h1{
            font-size: 2.6rem;
            font-weight: 790;
            margin-bottom: 0;
            color:#392f41;
        }
    }
    input:focus{
        outline: none;
    }

    select:focus{
        outline: none;
    }

    
    .search-div{
        display: flex;
        // position: absolute;
        width: 935px;
        min-width: 450px;
        align-items: center;
        box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
        padding: 10px 10px 10px 10px;
        // border: 1px solid red;
    }
    .search-input{
        display: flex;
        position: relative;
        height:65px;
        width:1000px;
        box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
        margin-top: 5px;
        margin-left: 6px;
        margin-bottom: 5px;


        input{
            margin-left: 60px;
            margin-top: 10px;
            width:350px;
            height: 40px;
            border-style: none;
        }
    }

    .date-div{
        display: flex;
        // border: 1px solid red;
        position: relative;
        box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
        height:65px;
        width: 65;
        margin-left: 12px;
        // border: 1px solid red;
        input{
            border-style: none;
            background-color: white;
            margin-left: 20px;
            position: relative;
            // border: 1px solid red;

        }
    }
    
    .type-div{
        // border: 1px solid red;
        position: relative;
        height:65px;
        width: 140px;
        display: flex;
        margin-left: 12px;
        box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
        
        select{
            width:175px;
            border-style: none;
            background-color: white;
            margin-left: 15px;
            position: relative;

        }
    }

    .search-form{
        display: flex;
        width: 900px;
        min-width: 450px;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }

    button {
        display: block;
        border: 1px solid #40d9ac;
        background-color: #40d9ac;
        color:#ffffff;
        font-size: 12px;
        font-weight:bold;
        padding: 12px 45px;
        letter-spacing:1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        margin-left: 12px;
        height: 65px;
      }
      button:active{
        transform: scale(0.95)
      }
      button:focus{
        outline: none;
      }
      button.ghost{
        background-color: transparent;
        border-color: #ffffff;
      }
      button:before {
        display: block;
        position: absolute;
        background-color: rgba(255,255,255,.5);
        left:0;
        right:0;
        opacity: .5s;
        filter: blur(30px);
        transform: translateX(-130px) skewX(-15deg);
      }
      button:after{
        display: block;
        position: absolute;
        background: rgba(255,255,255,.2);
        left:30px;
        top:0;
        opacity: 0;
        filter: blur(30px);
        transform: translate(-100px) scaleX(-15deg);
      }
   
      button:hover{
        background: #40d9ac;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
        transform: translateY(-3px);
        cursor:pointer;
      }
      button:hover:before{
        transform: translateX(300px) skewX(-15deg);
        opacity: .6;
        transition: .7s;
      }
      button:hover:after{
       transform: translateX(300px) skewX(-15deg);
       opacity: 1;
       transition: .7s;
     }
}