.nav-bar{
    display: flex;
    position: relative;
    justify-content: space-between;

}
.logo{
    width:150px;
    margin-top: 30px;
}
.right-div{
    position: relative; 
    display: flex;
    top: 30px;
    width: 150px;
}

.user-icon{
  width:30px;
  height:30px;
}
.inner-right-div{
    display: flex;
    top: -50px;
    justify-content: space-between;
    align-items: center;
    // width: 300px;
    // height: 100px;
    // border: 1px solid red;
    .user-dropdown{
      position: relative;
      display: inline-block;
      width: 40px;
      // z-index: -10;
      height: 56px;
      margin-top: 25px;
      // border: 1px solid red;
      align-items: center;
      justify-content: center;
    }

    .user-dropdown-content{
      display: none;
      position: absolute;
      width: 120px;
      height: 50px;
      z-index: 1;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
      align-items: center;
      justify-content: center;
      background-color: white;
      margin-top: -3px;
    }
    .user-dropdown:hover .user-dropdown-content{
      transition: 0.5s;
      display: block;
    }
    .user-dropdown-item{
      display: flex;
      // border: 1px solid red;
      width: 100px;
      height: 50px;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
    .user-dropdown-item:hover{
      margin-left: 10px;
    }
    .user-dropdown-item:active{
      // border:red;
    }

    h3{
        color:#392f41;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: -130px;
    }
    button {
        display: block;
        // border-radius: 10px;
        // width:30px;
        height:30px;
        border: 1px solid #40d9ac;
        background-color: #40d9ac;
        color:#ffffff;
        font-size: 8px;
        font-weight:bold;
        letter-spacing:1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        margin: 10px;
      }
      button:active{
        transform: scale(0.95)
      }
      button:focus{
        outline: none;
      }
      button.ghost{
        background-color: transparent;
        border-color: #ffffff;
      }
      button:before {
        display: block;
        position: absolute;
        background-color: rgba(255,255,255,.5);
        left:0;
        right:0;
        opacity: .5s;
        filter: blur(30px);
        transform: translateX(-130px) skewX(-15deg);
      }
      button:after{
        display: block;
        position: absolute;
        background: rgba(255,255,255,.2);
        left:30px;
        top:0;
        opacity: 0;
        filter: blur(30px);
        transform: translate(-100px) scaleX(-15deg);
      }
   
      button:hover{
        background: #40d9ac;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
        transform: translateY(-3px);
        cursor:pointer;
      }
      button:hover:before{
        transform: translateX(300px) skewX(-15deg);
        opacity: .6;
        transition: .7s;
      }
      button:hover:after{
       transform: translateX(300px) skewX(-15deg);
       opacity: 1;
       transition: .7s;
      }

}

.empty{
    width: 20px;
}

.btn{
    text-decoration: none;
}

.right-signup:hover {
    border-bottom: 3px solid #40d9ac;
    height: 20px;
}
.right-login:hover {
    border-bottom: 3px solid #40d9ac;
    height: 20px;
}
