.reviews-index-div{
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    align-items: center;
    .review-div{
        display: flex;
        flex-direction: column;
        padding-left: 2em;
    }
    .body-time-div{
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        width: 57.2em;
    }
    .time{
        width: 270px;
        color: grey;
    }
    .auth-icon{
        display: flex;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid  rgba(0,0,0,0.1);
        img{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            // border: 1px solid red;
        }
    }
    .body{
        display: flex;
        position: relative;
        // border: 1px solid  blue;
        width: inherit;
        overflow-wrap: break-word;
        p{
            position: absolute;
            margin: 0;
            // border: 1px solid  red;
            width: 100%;
            height: inherit;
            
            
        }
    }
}