.reviews-index-div{
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    align-items: center;
    height: auto;
    min-height: 10em;
    // input{
    //     height: 30px;
    // }
    // textarea{
    //     height: 70px;
    // }
    .update-review{
        display: flex;
        flex-direction: column;
    // border: 1px solid red;
        height: inherit;
        input{
            width: 50em;
            height: 2em;
        }
        textarea{
            // min-width: 100%;
            height: 5em;
        }
    }
    .review-div{
        display: flex;
        flex-direction: column;
        padding-left: 2em;
    }
    .body-time-div{
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        width: 57.2em;
        height: 100%;
    }
    .time{
        width: 270px;
        color: grey;
    }
    .auth-icon{
        display: flex;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid  rgba(0,0,0,0.1);
        img{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            // border: 1px solid red;
        }
    }
    .body{
        display: flex;
        position: relative;
        // border: 1px solid  blue;
        width: inherit;
        height: auto;
        height: 100%;
        overflow-wrap: break-word;
        p{
            position: absolute;
            margin: 0;
            // border: 1px solid  red;
            height: 100%;
            width: 100%;
        }
    }
    .time-and-btns{
        display: flex;
        flex-direction: column;
        
    }
    button {
        width: 80px;
        height: 40px;
        display: block;
        border-radius: 20px;
        border: 1px solid #40d9ac;
        background-color: #40d9ac;
        color:#ffffff;
        font-size: 12px;
        font-weight:bold;
        // padding: 12px 45px;
        letter-spacing:1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        margin: 10px;
    }
    button:active{
        transform: scale(0.95)
    }
    button:focus{
    outline: none;
    }
    button.ghost{
        background-color: transparent;
        border-color: #ffffff;
    }
    button:before {
        display: block;
        position: absolute;
        background-color: rgba(255,255,255,.5);
        left:0;
        right:0;
        opacity: .5s;
        filter: blur(30px);
        transform: translateX(-130px) skewX(-15deg);
    }
    button:after{
        display: block;
        position: absolute;
        background: rgba(255,255,255,.2);
        left:30px;
        top:0;
        opacity: 0;
        filter: blur(30px);
        transform: translate(-100px) scaleX(-15deg);
    }

    button:hover{
        background: #40d9ac;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
        transform: translateY(-3px);
        cursor:pointer;
    }
    button:hover:before{
        transform: translateX(300px) skewX(-15deg);
        opacity: .6;
        transition: .7s;
    }
    button:hover:after{
        transform: translateX(300px) skewX(-15deg);
        opacity: 1;
        transition: .7s;
    }
}