// Place all the styles related to the Spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spots-index {
    // border: 1px solid red;
    display: flex;
    // position: relative;
    justify-content: center;
    width:95%;
    height: 100;    
    flex-direction: column;
    margin-left: 30px;
    // font-family: Arial, Helvetica, sans-serif;
    
}

.spot-index-div{
    display: flex;
    margin-top: 10px;
}

.spot-div{
    // border: 1px solid    ;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.spot-index-item{
    // border: 1px solid red;
    display: block;
    width: 40%;
    height: 400px;
    -webkit-transition: all .5s ease-in-out;
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
    margin-top: 25px;

    // background-image: url("https://hipcamp-res.cloudinary.com/images/c_fill,f_auto,g_auto:subject,h_400,q_60,w_780/v1602804457/campground-photos/jdvjqakeams4jmpacpvv/caterra-c-s-land-1-paraiso-pavo-real-site-2.jpg");
    .spot-img-div{
        border-radius: 5px;
        width: 100%;
        height: 70%;
        // border: 1px solid red;
        overflow: hidden;
        .slides{
            width:500%;
            height:500px;
            display: flex;
        }
        .slides input {
            display: none;
        }
        .slide{
            width:20%;
            transition: 2s;
        }
        .slide img{
            width:100%;
            height:100%;
        }

        //css for manual slide 

        .navigation-manual{
            position: absolute;
            margin-top: -250px; 
            margin-left: 160px; 
            display: flex;
            justify-content: center;
        }

        .manual-btn{
            border:1px solid white;
            padding:5px;
            border-radius: 10px;
            cursor: pointer;
            transition: 1s;
            margin-right: 20px;

        }

        .manual-btn:not(:lastt-child){
            margin-right: 40px;
        }

        .manual-btn:hover{
            background:whitesmoke;
        }

        #radio11:checked ~.first{
            margin-left: 0;
        }
        #radio12:checked ~.first{
            margin-left: -20%;
        }
        #radio13:checked ~.first{
            margin-left: -40%;
        }

        #radio21:checked ~.first{
            margin-left: 0;
        }
        #radio22:checked ~.first{
            margin-left: -20%;
        }
        #radio23:checked ~.first{
            margin-left: -40%;
        }

        #radio31:checked ~.first{
            margin-left: 0;
        }
        #radio32:checked ~.first{
            margin-left: -20%;
        }
        #radio33:checked ~.first{
            margin-left: -40%;
        }

        #radio41:checked ~.first{
            margin-left: 0;
        }
        #radio42:checked ~.first{
            margin-left: -20%;
        }
        #radio43:checked ~.first{
            margin-left: -40%;
        }

    
    }
    .spot-foot-div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 110px;
        
        .name-type-div{
            display: flex;
            justify-content: space-between;
            // border: 1px solid red;
            align-items: center;
            .spot-name{
                margin-top: 10px;
                margin-left: 10px;
                font-size: 1.3rem;
                margin-bottom: 0;
                color:#392f41;

            }
        }
    
    }

}
.thumbs-up-icon-div{
    display: flex;
    flex-direction: row;
    width: 17px;
    height: 17px;
    margin-left: 10px;
}
.spot-icon{
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-right: 10px;
}
.thumb-price-div{
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
    // border: 1px solid blue;
    .thumb{
        display: flex;
        align-items: baseline;
        // border: 1px solid blue;

    }
    div{
        // border: 1px solid blue;
        display: flex;
        align-items: center;
        font-size: 17px;
    }
    .thumbs-likes{
        
        .percentage{
            color:#40d9ac;
        }
    }
}

.spot-index-item:hover{
    margin-top: -1px;
}


.spot-map-div{
    display: flex;
    width: 40%;
    margin-left: 30px;
    border: 1px solid yellowgreen;
    margin-top: 25px;
}

.spot-index-item:hover {
    // background-color:rgba(0,0,0,0.1);
    border: 1px solid #40d9ac;
    border-radius: 5px;

}

.spot-price{
    display: flex;
    // justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.spot-search-div{
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
    width: 400px;
    // border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
}

.spot-searchbar{
    display: flex;
    width: 400px;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    
    .inner-div:hover {
        transition: 0.5s;
        box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);

    }
    div{
        display: flex;
        width: 100px;
        height: 50px;
        align-items: center;
        // align-content: center;
        justify-content: space-around;
        border: 1px solid rgba(0,0,0,0.1);

        // box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
        span{
            display: flex;
            align-items: center;  
            // border: 1px solid red;

        }
    }

}

.spot-show-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    // border: 1px solid royalblue;
    position: relative;


    .spot-show-img-div{
        // border: 1px solid royalblue;
        display: flex;
        align-items: center;
        width: 1400px;
        height: 600px;
        justify-content: space-between;
        .first_pic:hover{
            transition: 0.5s;
            margin-top: 10px;
        }
        .first_pic{
            width: 800px;
            height: 600px;
        }
        .second-img-div{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 590px;
            height: 600px;
            // border: 1px solid royalblue;

            img{
                width: 590px;
                height: 298px;
            }
            .sec-first:hover{
                transition: 0.5s;
                margin-top: -5px;
            }
            .sec-sec:hover{
                transition: 0.5s;
                margin-top: 5px;
            }
        }

    }
    .spot-infor-div{
        display: flex;
        flex-direction: column;
        // border: 1px solid royalblue;
        width: 1000px;
        // height: 1000px;
        // position: sticky;
        .thumb-div{
            display: flex;
            justify-content: space-between;
            vertical-align: bottom;
            // border: 1px solid blue;
            div{
                // border: 1px solid blue;
                display: flex;
                align-items: center;
            }
            .thumbs-likes{
                .percentage{
                    // display: flex;
                    
                    color:#40d9ac;
                }
                
            }
        }
    }

.reviews{
    color:lightgray;

}

    .user-infor-div{
        display: flex;
        width: 600px;
        height: 200px;
        margin-right: 400px;
        // border: 1px solid teal;
        align-items: center;
        justify-content: space-between;
        .user-img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 1px solid  rgba(0,0,0,0.1);
            img{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                // border: 1px solid red;
            }
        }
        .user-name{
            margin-left: 15px;
            h5{
                font-weight: 500;
            }
            h6{
                font-weight: 200;
            }
        }

        .spot-about{
            display: flex;
            align-items: center;
            margin-left: 15px;
            p{
                font-weight: 200;
                // font
            }
        }

    }

    .spot-check-table{
        display: flex;
        width: 850px;
        height: 500px;
        // border: 1px solid green;
        justify-content: space-between;
        margin-right: 150px;
        margin-top: 20px;
        // align-items: center;
        img{
            width: 25px;
            height: 25px;
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid rgba(0,0,0,0.1);
            width: 250px;
            height: 400px;
            
            ul{
                list-style-type: none;
                display: flex;
                // align-items: center;
                flex-direction: column;
                justify-content: center;


                li{
                    // border: 1px solid green;

                    margin-top: 5px;
                    margin-left: -30px;
                }
            }
            h3{
                font-weight: 500;
            }
        }
    }

  
    
}
.div-after-img{
    display: flex;
    justify-content: space-around;
    width: 1300px;
    // background-color: green;
    .side-booking-div{


        position: relative;
        z-index: 10000;
        
        .booking-div{
            display: flex;
            flex-direction: column;
            position: sticky;
            // position: fixed;
            width: 200px;
            height: 200px;
            border: 1px solid red;
            // background-color: red;
            // margin-top: 10px;
            top:0px;
            // left:1100px;
            // z-index:1000;
            
        }
    }
}

.spot-reviews-div{
    // background-color: green;
}